@import "../../../../utils.scss";

.menu__item {
    height: 100%;
    list-style-type: none;
    padding-right: 15px; //
    padding-left: 15px; //
    @include flexbox(row, center, flex-start);

    a {
        color: $secondary-color;
        text-decoration: none;
    }
}

.menu__item:hover {
    @extend %btn-hover;
}