@import "../../../../utils.scss";

.menu__item {
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0 15px;
    @include flexbox(row, center, flex-start);

    a {
        color: $white;
        text-decoration: none;
    }
}

.menu__item:hover {
    @extend %btn--hover;
}