@import url(./reset.css);
.header {
  height: 60px; }
  .header__menu {
    height: 100%;
    display: flex; }

.header, .large-button {
  background-color: #141411;
  font-size: 28px;
  font-weight: bold; }

.menu__item:hover, .large-button:hover {
  background-color: #2b2c2c; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 15px; }
  .row .col30 {
    width: 30%; }
  .row .col70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 70%; }

.menu__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.header, .large-button {
  background-color: #141411;
  font-size: 28px;
  font-weight: bold; }

.menu__item:hover, .large-button:hover {
  background-color: #2b2c2c; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 15px; }
  .row .col30 {
    width: 30%; }
  .row .col70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 70%; }

.menu__item {
  height: 100%;
  list-style-type: none;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }
  .menu__item a {
    color: #fff;
    text-decoration: none; }

.header, .large-button {
  background-color: #141411;
  font-size: 28px;
  font-weight: bold; }

.menu__item:hover, .large-button:hover {
  background-color: #2b2c2c; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 15px; }
  .row .col30 {
    width: 30%; }
  .row .col70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 70%; }

.large-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  margin: 20px;
  border: none;
  border-radius: 5px;
  padding: 15px; }
  .large-button a {
    color: #fff;
    text-decoration: none; }

.header, .large-button {
  background-color: #141411;
  font-size: 28px;
  font-weight: bold; }

.menu__item:hover, .large-button:hover {
  background-color: #2b2c2c; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 15px; }
  .row .col30 {
    width: 30%; }
  .row .col70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 70%; }

.code__right, .code__left {
  width: 50%;
  border: 2px solid;
  background-color: #fff;
  color: #36363f;
  font-size: 17px; }

.code__title {
  background-color: #2b2c2c;
  color: #fff;
  font-weight: bold;
  padding: 5px; }
.code__right {
  background-color: #e2e2e2;
  margin-right: 20px;
  margin-left: 40px; }
.code__left {
  background-color: #e2e2e2;
  margin-right: 40px;
  margin-left: 20px; }

.header, .large-button {
  background-color: #141411;
  font-size: 28px;
  font-weight: bold; }

.menu__item:hover, .large-button:hover {
  background-color: #2b2c2c; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 15px; }
  .row .col30 {
    width: 30%; }
  .row .col70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    width: 70%; }

.sass-logo {
  max-width: 100%; }

.content {
  margin: 25px; }
  .content__examples {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 40px auto; }

.feature {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 60px; }
  .feature__item {
    padding: 1%;
    border: solid #2b2c2c; }
    @media (min-width: 720px) {
      .feature__item {
        margin: 2%;
        width: 600px; } }
    @media (max-width: 720px) {
      .feature__item {
        width: 80%;
        margin: 20px auto; } }
  .feature__text {
    background-color: #e2e2e2;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 17px; }

.App {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px; }

/*# sourceMappingURL=App.css.map */
